
<cart-notification>
  <div class="cart-notification-wrapper">
    <div id="cart-notification" class="cart-notification focus-inset toggle-dropdown">
      <div class="slimScrollDiv{% if cart == empty %} cart-empty-notification{% endif %}">
      <div id="cart-notification-default">
        {%- if cart != empty -%}
        {%- for item in cart.items -%}
        <div id="cart-notification-product-{{ item.id }}" class="cart-notification-product">
          <a href="{{ item.product.url }}"  class="cart-notification-item">
          {% if item.image %}
          <img class="cart-notification-product__image lazyload"
               data-src="{{ item.image | img_url: '140x' }}"
               alt="{{ item.image.alt | escape }}"
               width="70"
               height="{{ 70 | divided_by: item.image.aspect_ratio | ceil }}"
               loading="lazy"
               >
          {% endif %}
          <div class="cart-notification-product__info">
            <h3 class="cart-notification-product__name h4">{{ item.product.title | escape }}</h3>
            {%- unless item.product.has_only_default_variant -%}
              <div class="cart-notification-product__option h4">
                {%- for option in item.options_with_values -%}
                <span>{{ option.value }} </span> {%- unless forloop.last == true -%} / {%- endunless -%}
                {%- endfor -%}
              </div>
            {%- endunless -%}
            <div class="cart-notification-product__qty-price h4">
               {{ item.quantity }} X {{ item.original_price | money }}
            </div>
            {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
            <div class="cart-notification-product__lineitem">
              <span>{{ property.first }}: </span>
              <span>
                {%- if property.last contains '/uploads/' -%}
                  {{ property.last | split: '/' | last }}
                {%- else -%}
                {{ property.last }}
                {%- endif -%}
              </span>
            </div>
            {%- endif -%}
            {%- endfor -%}
            {%- if item.selling_plan_allocation != nil -%}
              <div class="cart-notification-product__option h4">{{ item.selling_plan_allocation.selling_plan.name }}</div>
             {%- endif -%}
          </div>
        </a>
          <span class="cart-remove-js" data-variantid="{{ item.id }}"> 
             {% render 'icons' with 'remove' %}
          </span>
        </div>
        {%- endfor -%}
        {%- else -%}
        <div class="cart-notification__header cart-empty">
          <h2 class="cart-notification__heading caption-large">{{ 'general.cart.cart_empty' | t }}</h2>
        </div>
        {%- endif -%}
      </div>
      </div>
      <div id="cart-notification-product"></div>
      <div id="cart-notification-button">
        {%- if cart != empty -%}
        <div class="cart-footer">
          <span class="subtotal">
            {{ 'sections.cart.headings.total' | t }}
          </span>
          <span class="total_price">
            {{ cart.total_price | money }}
          </span>
         </div>
          <p>{{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}</p>
          <div class="cart-notification__links">
            <a href="{{ routes.cart_url }}" class="button button--secondary"> {{ 'general.cart.view' | t }}</a>
            <a href="/checkout" class="button">{{ 'sections.cart.checkout' | t }}</a>
          </div>
       
         {%- endif -%}
      </div>
    </div>
  </div>
</cart-notification>
