<div class="reassurance-block">
      <div class="reassurance-content row">
        <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
          {% if section.settings.reassurance-image1 != blank %}
          <div class="reassurance-img">
            <img class="lazyload" data-src="{{ section.settings.reassurance-image1 | img_url: 'master' }}" alt="Reassurance Image">
          </div>
          {% endif %}
          {% if section.settings.reassurance-title1 != blank or section.settings.reassurance-desc1 != blank %}
          <div class="reassurance-text">
            {% if section.settings.reassurance-title1 != blank %}
            <div class="reassurance-title">{{ section.settings.reassurance-title1 | escape }}</div>
            {% endif %} 
            {% if section.settings.reassurance-desc1 != blank %}
            <div class="reassurance-desc">{{ section.settings.reassurance-desc1 | escape }}</div>
            {% endif %}
          </div> 
          {% endif %}
        </div>
        <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
          {% if section.settings.reassurance-image2 != blank %}
          <div class="reassurance-img">
            <img class="lazyload" data-src="{{ section.settings.reassurance-image2 | img_url: 'master' }}" alt="Reassurance Image">
          </div>
          {% endif %}
          {% if section.settings.reassurance-title2 != blank or section.settings.reassurance-desc2 != blank %}
          <div class="reassurance-text">
            {% if section.settings.reassurance-title2 != blank %}
            <div class="reassurance-title">{{ section.settings.reassurance-title2 | escape }}</div>
            {% endif %}
            {% if section.settings.reassurance-desc1 != blank %}
            <div class="reassurance-desc">{{ section.settings.reassurance-desc2 | escape }}</div>
            {% endif %}
          </div> 
          {% endif %}
        </div>
        <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
          {% if section.settings.reassurance-image3 != blank %}
          <div class="reassurance-img">
           <img class="lazyload" data-src="{{ section.settings.reassurance-image3 | img_url: 'master' }}" alt="Reassurance Image">
          </div>
          {% endif %}
          {% if section.settings.reassurance-title3 != blank or section.settings.reassurance-desc3 != blank %}
          <div class="reassurance-text">
            {% if section.settings.reassurance-title3 != blank %}
            <div class="reassurance-title">{{ section.settings.reassurance-title3 | escape }}</div>
            {% endif %}
            {% if section.settings.reassurance-desc3 != blank %}
            <div class="reassurance-desc">{{ section.settings.reassurance-desc3 | escape }}</div>
            {% endif %}
          </div> 
          {% endif %}
        </div>
        <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
          {% if section.settings.reassurance-image4 != blank %}
          <div class="reassurance-img">
            <img class="lazyload" data-src="{{ section.settings.reassurance-image4 | img_url: 'master' }}" alt="Reassurance Image">
          </div>
          {% endif %}
          {% if section.settings.reassurance-title4 != blank or section.settings.reassurance-desc4 != blank %}
          <div class="reassurance-text">
            {% if section.settings.reassurance-title4 != blank %}
            <div class="reassurance-title">{{ section.settings.reassurance-title4 | escape }}</div>
            {% endif %}
            {% if section.settings.reassurance-desc4 != blank %}
            <div class="reassurance-desc">{{ section.settings.reassurance-desc4 | escape }}</div>
            {% endif %}
          </div> 
          {% endif %}
        </div>
    </div>
</div>