{% if collection.products.first and collection.products.first.featured_images != empty %}
  {%- assign collection_featured_image = collection.products.first.featured_image -%}
{% else %}
  {% assign collection_featured_image = blank %}
{% endif %}
<div class="collection-grid-item">
  {% if collectionfeatured_image != blank %}
  <div class="collection-grid-item__overlay media{% if section.blocks.size > 1 %} media--{{ section.settings.featured_image_ratio }}{% endif %}"
       {% if section.settings.featured_image_ratio == 'adapt' and section.blocks.size > 1 %}style="padding-bottom: {{ 1 | divided_by: collectionfeatured_image.aspect_ratio | times: 100 }}%;"{% endif %}>
    <img class="lazyload"
         data-src="{{ collectionfeatured_image | img_url: 'master' }}"
         alt="{{ collectionfeatured_image | escape }}"
         data-sizes="auto" >
    {% if section.settings.show_collection_item %}
    <div class="collection-item">{{ collection.all_products.count }} {{ 'onboarding.item' | t }}</div>
    {% endif %}
  </div>
  {% else %}
  	{% if collection == empty %}
        <div class="collection-grid-item__overlay media{% if section.blocks.size > 1 %} media--{{ section.settings.featured_image_ratio }}{% endif %}"
              {% if section.settings.featured_image_ratio == 'adapt' %}style="padding-bottom: 100.0%;"{% endif %}>
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="collection-grid-item__overlay media{% if section.blocks.size > 1 %} media--{{ section.settings.featured_image_ratio }}{% endif %}"
             {% if section.settings.featured_image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: collection_featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>
          <img srcset="{%- if collection_featured_image.width >= 165 -%}{{ collection_featured_image | img_url: '165x' }} 165w,{%- endif -%}
                       {%- if collection_featured_image.width >= 330 -%}{{ collection_featured_image | img_url: '330x' }} 330w,{%- endif -%}
                       {%- if collection_featured_image.width >= 535 -%}{{ collection_featured_image | img_url: '535x' }} 535w,{%- endif -%}
                       {%- if collection_featured_image.width >= 720 -%}{{ collection_featured_image | img_url: '720x' }} 720w,{%- endif -%}
                       {%- if collection_featured_image.width >= 940 -%}{{ collection_featured_image | img_url: '940x' }} 940w,{%- endif -%}
                       {%- if collection_featured_image.width >= 1440 -%}{{ collection_featured_image | img_url: '1440x' }} 1440w,{%- endif -%}
                       {%- if collection_featured_image.width >= 1880 -%}{{ collection_featured_image | img_url: '1880x' }} 1880w,{%- endif -%}
                        {{ collection_featured_image | img_url: 'master' }} {{collection_featured_image.width }}w"
               data-src="{{ collection_featured_image | img_url: '533x' }}"
               sizes="(min-width: 1100px){% if section.blocks.size > 1 %}535px{% else %}940px{% endif %}, (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
               alt="{{ collection.title | escape }}"
               height="{{ collection_featured_image.height }}"
               width="{{ collection_featured_image.width }}"
               loading="lazy"
               class="motion-reduce lazyload"
               >
          {% if section.settings.show_collection_item %}
            <div class="collection-item">{{ collection.all_products.count }} {{ 'onboarding.item' | t }}</div>
          {% endif %}
        </div>
	{%- endif -%}
  {% endif %}
  <div class="collection-grid-item__title-wrapper">
    <h3 class="collection-grid-item__title">
      {%- if collection.title != blank -%}
      {{- collection.title | escape -}}
      {%- else -%}
      {{ 'onboarding.collection_title' | t }}
      {%- endif -%}
    </h3>
    <span class="btn">
        {{ 'onboarding.btn_title' | t }}
      </span>
  </div>
</div>