
<div class="card-wrapper">
    <div class="card card--product col-lg-6 col-md-5 col-sm-4 col-xs-4" tabindex="-1">
      <div class="card__inner ">
        <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
        {%- if product_card_product.featured_media -%}
          {%- liquid
            assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

            if product_card_product.featured_media.aspect_ratio == nil
              assign featured_media_aspect_ratio = 1
            endif
          -%}
            <div class="media media--transparent media--{{ media_size }} media--hover-effect"
              {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
            >
              <img srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
                data-src="{{ product_card_product.featured_media | img_url: 'master' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product_card_product.featured_media.alt | escape }}"
                loading="lazy"
                class="motion-reduce lazyload"
                width="{{ product_card_product.featured_media.width }}"
                height="{{ product_card_product.featured_media.height }}"
              >

              {%- if product_card_product.media[1] != nil and show_secondary_image -%}
                <img srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w{%- endif -%}"
                  data-src="{{ product_card_product.media[1] | img_url: 'master' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product_card_product.media[1].alt | escape }}"
                  loading="lazy"
                  class="motion-reduce lazyload"
                width="{{ product_card_product.media[1].width }}"
                height="{{ product_card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
        {%- else -%}
          <div class="card__content"><h2 class="card__text h2">{{ product_card_product.title }}</h2></div>
        {%- endif -%}
        </a>
      </div>
    </div>

    <div class="card-information col-lg-6 col-md-7 col-sm-8 col-xs-8">
      <div class="card-information__wrapper">
         <span class="shopify-product-reviews-badge" data-id="{{ product_card_product.id }}"></span>
        {%- if show_vendor -%}
          <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          <div class="caption-with-letter-spacing vendor">{{ product_card_product.vendor }}</div>
        {%- endif -%}
          <span class="card-information__text h5">
            <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
            {{ product_card_product.title | escape | truncate: 18 }}
            </a>
          </span>
        {% comment %} TODO: metafield {% endcomment %}
        <span class="caption-large light">{{ block.settings.description | escape }}</span>

        {% render 'price', product: product_card_product, price_class: '' %}
         {%- assign truncate_desc =  section.settings.show_description | plus: 0 -%}
        {%- if truncate_desc > 0 and product_card_product.description.size > 0 -%}
        <div class="product-desc"> {{ product_card_product.description | strip_html | truncate: truncate_desc  }}</div>
         {%- endif -%}
         
        {% if template.name != 'cart' and template.name != '404' %}
          <div class="thumbnail-buttons">
            {%- if settings.show_quickview -%}
            <div class="quickview-btn product-btn">
              <quickview-opener class="product-popup-modal__opener no-js-hidden btn-info quick-view" data-handle="{{ product_card_product.handle }}" data-modal="#qvPopupModal">
                <div class="product-popup-modal__button link" type="button" aria-haspopup="dialog" data-href="#qvPopupModal" data-toggle="popover" aria-expanded="false">
                    {% render 'icons' with 'quickview' %}
                </div>
              </quickview-opener>
            </div>
            {%- endif -%}
            {%- if settings.show_wishlist -%}
             <div class="wishlist-btn product-btn">
              <div class="btn-info wishlist">
                <div class="add-to-wishlist">     
                  <div class="show">
                    <div class="default-wishbutton-{{ product_card_product.handle }} loading"><a class="add-in-wishlist-js" data-href="{{ product_card_product.handle | handleize }}">{% render 'icons' with 'wishlist-outline' %}<span class="tooltip-label">{{ 'products.wishlist.add_to_wishlist' | t }}</span></a></div>
                    <div class="loadding-wishbutton-{{ product_card_product.handle }} loading loader-btn" style="display: none; pointer-events: none"><a class="add_to_wishlist" data-href="{{ product_card_product.handle | handleize }}"><i class="fa fa-circle-o-notch fa-spin"></i></a></div>
                    <div class="added-wishbutton-{{ product_card_product.handle }} loading" style="display: none;"><a class="added-wishlist add_to_wishlist" href="/pages/wishlist">{% render 'icons' with 'wishlist' %}<span class="tooltip-label">{{ 'products.wishlist.view_wishlist' | t }}</span></a></div>
                  </div>
                </div>
              </div>
             </div>
            {%- endif -%}
            {%- if settings.show_cart -%}
              <div class="addtocart-btn product-btn">
              <div class="cart-btn {% if product_card_product.available == false %} btn-info sold-out {%- else -%} btn-info add-to-cart-js {%- endif -%}" data-variantid="{{ product_card_product.selected_or_first_available_variant.id }}">
                 {% render 'icons' with 'addtocart' %}
              </div>
              </div>
            {%- endif -%}
          </div>
        {% endif %}
      </div>
    </div>
</div>
