<div class="card-wrapper">

    <div class="card card--product" tabindex="-1">
      <div class="card__inner">
        <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
        {%- if product_card_product.featured_media -%}
          {%- liquid
            assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

            if product_card_product.featured_media.aspect_ratio == nil
              assign featured_media_aspect_ratio = 1
            endif
          -%}

            <div class="media media--transparent media--{{ media_size }} media--hover-effect"
              {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
            >
              <img srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
                data-src="{{ product_card_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ product_card_product.featured_media.alt | escape }}"
                loading="lazy"
                class="motion-reduce lazyload"
                width="{{ product_card_product.featured_media.width }}"
                height="{{ product_card_product.featured_media.height }}"
              >

              {%- if product_card_product.media[1] != nil and show_secondary_image -%}
                <img srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w{%- endif -%}"
                  data-src="{{ product_card_product.media[1] | img_url: '533x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product_card_product.media[1].alt | escape }}"
                  loading="lazy"
                  class="motion-reduce lazyload"
                width="{{ product_card_product.media[1].width }}"
                height="{{ product_card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
        {%- else -%}
          <div class="card__content"><h2 class="card__text h2">{{ product_card_product.title }}</h2></div>
        {%- endif -%}
      </a>
      </div>
    </div>

    <div class="card-information">
      <div class="card-information__wrapper">
          <span class="card-information__text h5">
            <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
            {{ product_card_product.title | escape }}
            </a>
          </span>
        {% comment %} TODO: metafield {% endcomment %}
        <span class="caption-large light">{{ block.settings.description | escape }}</span>

        {% render 'price', product: product_card_product, price_class: '' %}
        <span class="shopify-product-reviews-badge" data-id="{{ product_card_product.id }}"></span>
      </div>
    </div>
</div>
