<div id="header" data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header">
     {% if section.settings.show_checkout or section.settings.show_wishlist or section.settings.show_contact or section.settings.show_social or section.settings.headertitle != blank or section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_countries.size > 1 or localization.available_languages.size > 1 %}
    <div class="nav-header"> 
      <div class="follow-us col-lg-4 col-md-6 col-sm-6 col-xs-6 hidden-xs-down">
        {%- if section.settings.show_social -%}
          {% include 'social-follow' %}
        {%- endif -%}
      </div>

      <div class="header-block hidden-lg-down col-lg-4 col-md-6 col-sm-6 col-xs-6 center">
        {% if section.settings.headertitle != blank %}
        <div class='text'>{{ section.settings.headertitle | escape }}</div>
        {% endif %}
      </div>
      
      <div class="desktop-user-info col-lg-4 col-md-6 col-sm-6 col-xs-12">
        {% if section.settings.show_checkout %}
        <div class="checkout">
          <a class="nav-icon" href="/checkout">{{ 'sections.cart.checkout' | t }}</a>
        </div>
        {% endif %}
        {% if section.settings.show_wishlist %}
        <div class="wishlist">
          <a class="nav-icon" href="/pages/wishlist">{{ 'sections.header.wishlist' | t }}</a>
        </div>
        {% endif %}
        {% if section.settings.show_contact %}
        <div class="contact">
          <a class="nav-icon" href="/pages/contact">{{ 'sections.header.contact' | t }}</a>
        </div>
        {% endif %}
        {% if section.settings.enable_country_selector or section.settings.enable_language_selector %}
        {% if localization.available_countries.size > 1 or localization.available_languages.size > 1 %}
        {%- render 'language-currency' -%}
        {% endif %}
        {% endif %}
      </div>
      
    </div>
    {% endif %}
    <div class="header-top-height hidden-lg-down"> 
    <div class="header-top hidden-lg-down">
      <div class="site-header-inner">
          <div id="_desktop_logo" class="header-logo-section col-xl-2 col-lg-3 col-md-12 col-sm-12">
            {% comment %}
            Use the uploaded logo from theme settings if enabled.
            Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template.name == 'index' %}
            <h1 class="h2 header__logo" itemscope itemtype="http://schema.org/Organization">
              {% else %}
              <div class="h2 header__logo" itemscope itemtype="http://schema.org/Organization">
                {% endif %}
                {% if section.settings.logo %}
                <a href="/" itemprop="url" class="header__logo-image">
                  {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}  
                  {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}             
                  <img 
                       src="{{ section.settings.logo | img_url: 'large' }}"
                       alt="{{ logo_alt | escape }}"
                       itemprop="logo" style="max-width: 100%;width: {{ section.settings.logo_max_width }}px;">
                </a>
                {% else %}
                <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
                {% if template.name == 'index' %}
                </h1>
              {% else %}
              </div>
            {% endif %}
          </div>
 			<div class="megamenu-header col-xl-5 col-lg-6 col-md-12 col-sm-12 hidden-lg-down">
              {% include 'Ishi_megamenu' %}
            </div>
          <div class="hidden-lg-down header-right col-xl-5 col-lg-3 col-md-12 col-sm-12">
            {% if section.settings.show_email %}
                <div id="ishiemailblock" class="hidden-lg-down">
                    <div class="email">
                        <div class="email-title">{{ section.settings.email-title }}</div>
                        <a href="mailto:{{shop.email}}" class="email-num">{{shop.email}}</a>
                    </div>
                </div>
                {% endif %}
            <div id="_desktop_search" class="site-header__search hidden-lg-down">
              {% include 'search-form' %}
            </div>
            {% if shop.customer_accounts_enabled %}
            <div id="_desktop_user_info" class="user_info">
               {% if customer %}
                    <a class="userinfo-title clearfix" href="/account">
                      {% else %}
                      <div class="userinfo-title clearfix" data-toggle="popover" aria-expanded="false" data-href="#user-notification" >
                        {% endif %}
              <span class="userinfo-toggle hidden-lg-down">{% include 'icons' with 'user-desktop' %}</span>
                <span class="userinfo-toggle hidden-lg-up">{% include 'icons' with 'user-mobile' %}</span>
                        {% if customer %}
               </a>
                {% else %}
                </div>
              {% endif %}
              
              <div id="user-notification" class="toggle-dropdown">
              {%- render 'user-notification' -%}
              </div>
            </div>
            {% endif %}
            <div id="_desktop_cart" class="cart_info">
              {% if template != "cart" and template != "404" %}
              <div class="cart-display" id="cart-icon-bubble" data-href="#cart-notification" data-toggle="popover" aria-expanded="false">
                 {% else %}
                 <a class="cart-display" id="cart-icon-bubble" data-href="#cart-notification" href="/cart">
                {% endif %}
                <span class="cart-logo">
                  <span class="hidden-lg-down">
                    {% include 'icons' with 'shopping-cart-desktop' %}
                  </span>
                  <span class="hidden-lg-up">
                    {% include 'icons' with 'shopping-cart-mobile' %}
                  </span>
                </span>
                {%- if cart != empty -%}
                <div class="cart-count-bubble">
                  {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                  {%- endif -%}
                  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                </div>
                {%- endif -%}
                {% if template != "cart" and template != "404" %}
                  </div> 
                {% else %}
                </a>
              {% endif %}
              {%- render 'cart-notification' -%}
            </div>
          </div>
      </div> 
    </div>
     </div> 
    <div id="mobile_top_menu_wrapper" class="hidden-lg-up" style="display:none;">
      <div id="top_menu_closer" class="hidden-lg-up">
        {% include 'icons' with 'close' %}
      </div>
      <div  id="_mobile_top_menu" class="js-top-menu mobile"></div>
      <div id= "_mobile_localization" class="header__localization"></div>
    </div>
    <div class="mobile-menu-overlay hidden-lg-up"></div>
    <div class="mobile-navmenu hidden-lg-up">
      <div class="mobile-width">
        <div class="page-width">
          <div class="row">
            <div class="mobile-width-left">
              <div id="menu-icon" class="menu-icon hidden-lg-up">
                {% include 'icons' with 'setup' %}
              </div>
              <div id= "_mobile_search"></div>
            </div>
            <div id="_mobile_logo" class="header-logo-section"></div>
            <div class="mobile-width-right">
             <div id= "_mobile_user_info"></div>
              <div id= "_mobile_cart" class="cart_info"></div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header Layout2",
  "class": "header-layout2",
  "settings": [
    {
      "type": "textarea",
      "id": "headertitle",
      "label": "Announcement Bar",
      "default": "Welcome To Our Aveda Fashion Store !"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Theme Logo Image",
      "info": "Size: 120px X 25px"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Max Logo Width",
      "default": "120",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "email-title",
      "label": "Email Title",
      "default": "Email : "
    },
    {
      "type": "checkbox",
      "id": "show_email",
      "label": "Show Email ID",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show social followus"
    },
    {
      "type": "checkbox",
      "id": "show_checkout",
      "label": "Show Checkout",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show Wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_contact",
      "label": "Show Contact",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](\/admin\/settings\/payments)"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "Enable Currency selector"
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](\/admin\/settings\/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "Enable language selector"
    }
    
  ],
  "blocks": [
  {
    "type": "text_block",
    "name": "Menu Item",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Top Heading"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Top Heading Link"
    },
    {
      "type": "checkbox",
      "id": "blog_show_new",
      "label": "Show New Tag",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_sale",
      "label": "Show Sale Tag",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_hot",
      "label": "Show Hot Tag",
      "default": false
    },
    {
      "type": "link_list",
      "id": "navbar",
      "label": "Column-1 Collection"
    },
    {
      "type": "url",
      "id": "button_link1",
      "label": "Column-1 Button Link"
    },
    {
      "type": "link_list",
      "id": "navbar1",
      "label": "Column-2 Collection"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Column-2 Button Link"
    },
    {
      "type": "link_list",
      "id": "navbar2",
      "label": "Column3 Collection"
    },
    {
      "type": "url",
      "id": "button_link3",
      "label": "Column-3 Button Link"
    },
    {
      "type": "checkbox",
      "id": "blog_show_collection",
      "label": "Enable Product",
      "default": false
    },
    {
      "type": "text",
      "id": "collection-title",
      "label": "Collection Title"
    },
    {
      "type": "url",
      "id": "button_link5",
      "label": "Collection Button Link"
    },
    {
      "id": "product",
      "type": "product",
      "label": "Select Your Product"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Banner Image 1",
      "info": "Size: 600px X 150px"
    },
    {
      "type": "url",
      "id": "bannerlink1",
      "label": "Link",
      "info": "Optional"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Banner Image 2",
      "info": "Size: 600px X 150px"
    },
    {
      "type": "url",
      "id": "bannerlink2",
      "label": "Link",
      "info": "Optional"
    }
    ]
  }
  ]
}
{% endschema %}