<div class="smartblog">
  <div class="page-width">
    {% if section.settings.maintitle != blank %}
      <div class="section-header center">
        <h2 class="title">{{ section.settings.maintitle | escape }}</h2>
      </div>
    {% endif %}
    <div class="products_block_inner row">
      
      {%- assign blog = blogs[section.settings.blog] -%}

      {% unless blog.articles_count == 0 %}
        <div id="smartblog-carousel" class="smartblog-carousel-{{ section.id }} owl-carousel slider-with-options owl-theme"
             data-small="1" 
             data-mobile="1" 
             data-tablet="2" 
             data-laptop="2"  
             data-desktop="3"
             data-rewind="true"
             data-autoplay="false"
             data-nav="true"
             data-dots="false"
             data-loop="false"
             >
          {% for article in blog.articles limit: section.settings.post_limit %}
            <div class="item sds_blog_post">
              <div class="blog_post">
                    {% if article.image %}
                      <div class="article__grid-image-wrapper js news_module_image_holder">
                        <a href="{{ article.url }}">
                          <img
                               class="article__grid-image lazyload"
                               data-src="{{ article.image | img_url: 'master' }}"
                               alt="{{ article.image.alt | escape }}">
                        </a>
                         <div class="blog_hover center">
                           <div class="rte article__grid-excerpt desc">
                            {% if article.excerpt.size > 0 %}
                              {{ article.excerpt }}
                            {% else %}
                              {{ article.content | strip_html | truncate: 90 }}
                            {% endif %}
                           </div>
                            <a href="{{ article.url }}" class="readmore">
                             {{ 'blogs.article.read_more_title' | t }}
                            </a>
                        </div>
                      </div>
                    {% endif %}
                    <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %} blog_content">
                       {% if section.settings.blog_show_date or section.settings.blog_show_comment %}
                      <div class="smartbloginfo">   
                          {% if section.settings.blog_show_date %}
                         <span class="article__date blog_date">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="date">
                                <span class="day_date">{{ article.published_at | date: "%d" }}</span>    
                                <span class="day_month">{{ article.published_at | date: "%B" }}</span>
                                <span class="day_year">{{ article.published_at | date: "%Y" }}</span>
                              </span>
                          </span>
                         {% endif %}
                        {% if section.settings.blog_show_comment %}
                         <span class="comment">
                           <a href="{{ article.url }}#comments">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            {{ 'blogs.article.comments' | t: count: article.comments_count }}
                           </a>
                          </span>
                        {% endif %}
                      </div>
                      {% endif %}
                      <div class="blog_inner">
                        {% if section.settings.blog_show_author %}
                          <span class="article__author author">
                               <i class="fa fa-user" aria-hidden="true"></i>
                            {{ 'blogs.article.by_author' | t: author: article.author }}
                          </span>
                        {% endif %}
                       <h4 class="h3 article__title sds_post_title">
                          <a href="{{ article.url }}">{{ article.title | strip_html | truncate: 28 }}</a>
                        </h4>
                      </div>
                    </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="grid grid--uniform grid--blog">
          {% for i in (1..section.settings.post_limit) %}
            <div class="grid__item col-lg-4 col-md-6 col-sm-12">
               <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
              <div class="article__grid-meta">
                <h2 class="h3 article__title">
                  {{ 'sections.featured_blog.onboarding_title' | t }}
                </h2>

                {% if section.settings.blog_show_author %}
                  <span class="article__author">{{ 'blogs.article.blog_author' | t }}</span>
                {% endif %}

                <div class="rte article__grid-excerpt">
                  {{ 'sections.featured_blog.onboarding_content' | t }}
                </div>

                <ul class="list--inline article__meta-buttons">
                  <li>
                    <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                      {{ 'blogs.article.read_more_title' | t }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endunless %}

      {% if section.settings.show_view_all %}
        <div class="view-all-btn center">
          <a href="{{ blog.url }}" class="btn">
             {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>


<style type="text/css">
  #shopify-section-{{ section.id }}{
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }}{
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Blog Style2",
    "class": "ishi-blog-style2",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "maintitle",
        "label": "Main Title",
        "default": "LATEST NEWS"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show Author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show Date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comment",
        "label": "Show Comment",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View All' Button",
        "default": false
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    "presets": [
      {
        "name": "Blog Style2",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
