<div class="ishiinstagram {% if section.settings.insta_layout == 'box' %}page-width{% endif %}">
  <div class="ishiinstagram-inner">
    {% if section.settings.username != blank %}
      <div class="home-title center">
        <a href="https://www.instagram.com/{{section.settings.username}}" target="_blank" rel="nofollow">
            {{ section.settings.main-title | escape }}
            <span>@{{section.settings.username}}</span>
        </a>
      </div>
    {% endif %}
    <div id="instafeed" class="instafeed-{{ section.id }} owl-carousel instafeed"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {

  var userFeed = new Instafeed({
    get: 'user',
    target: "instafeed",
    accessToken: '{{section.settings.accestoken}}',
    resolution: 'low_resolution',
    sortBy: 'most-recent',
    template:'<div class="instaitem{% if section.settings.greyscale %} instahover{% endif %}"><a href={{"{{link"}}}} target="_blank" id={{"{{id"}}}}><img alt="Instagram Image" class="lazyload" data-src={{"{{image"}}}} /><div class="image-overlay"><span></span></div><span class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a><div class="text-container"><span class="likes"><span class="likes-count">{{"{{likes"}}}}</span><i class="fa fa-heart" aria-hidden="true"></i></span><span class="comments"><span class="comments-count">{{"{{comments"}}}}</span><i class="fa fa-comments" aria-hidden="true"></i></span></div></div>',
    links: false,
    after: function(){
        $('.instafeed-{{ section.id }}').owlCarousel({
          nav: false,
          dots:false,
          loop: true,
          responsive: {
            0: {
              items: {{ section.settings.rowproduct_limit_Small }}
            },
            544: {
              items: {{ section.settings.rowproduct_limit_Mobile }}
            },
            768: {
              items: {{ section.settings.rowproduct_limit_Tablet }}
            },
            992: {
              items: {{ section.settings.rowproduct_limit_Laptop }}
            },
            1200: {
              items: {{ section.settings.rowproduct_limit_Desktop }}
            }
          }
        });
        insertDummyData();
    }
  });
  userFeed.run();
});

function insertDummyData() {

    $(".instafeed-{{ section.id }} .owl-item").each(function(){
      $(this).find(".comments-count").text(niceNumberDisplay(Math.floor((Math.random() * 10000) + 1)));
      $(this).find(".likes-count").text(niceNumberDisplay(Math.floor((Math.random() * 100000) + 1)));
    });
}



function niceNumberDisplay(num) {
    var n = parseFloat(num);
    if(n > 1000000) {
        return Math.round(n / 1000000) + 'm';
    } else if(n > 1000) {
        return Math.round(n / 1000) + 'k';
    } else {
        return n.toFixed(0);
    }
}
</script>


<style type="text/css"> 
  #shopify-section-{{ section.id }}{
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  #shopify-section-{{ section.id }} .ishiinstagram-inner{
    margin:0 -{{ section.settings.space }}px;
  }
  #shopify-section-{{ section.id }} .instaitem{
    margin:0 {{ section.settings.space }}px;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Ishi Instagram Block",
    "tag": "section",
    "class": "ishi-instagram-block",
    "settings": [
	  {
        "type": "text",
        "id": "main-title",
        "label": "Main Title",
        "default": "FOLLOW US"
      },
      {
        "type": "select",
        "id": "insta_layout",
        "label": "Layout",
        "default": "full",
        "options": [
          { "value": "box", "label": "Box"},
          { "value": "full", "label": "Full"}
        ]
      },
      {
        "type": "text",
        "id": "accestoken",
        "label": "Accestoken",
        "default": "IGQVJWcGRFRmp6VWQ1ZA1VOWm5zNFN1ZAGIzSlBmMVZAqQ1ZAZAVE1XazN1T2dSZAmNHa2FJWE9qcXFZAam1GTTVvZAGlHZA3o3SC1ySlJkX1V2ck1ncXM5OUlaOHI3bnVaTDhTOVlRQWNqaFZAmX1BSR3lpV21XcgZDZD"
      },
      {
        "type": "text",
        "id": "username",
        "label": "Username",
        "default": " Instagram"
      },
	  {
        "type": "checkbox",
        "id": "greyscale",
        "label": "Show Black & White Images",
        "default": false
      },
      {
        "type": "range",
        "id": "space",
        "min": 0,
        "max": 30,
        "step": 5,
        "label": "Internal Box Space/Margin",
        "default": 0
      },
      {
        "type": "range",
        "id": "rowproduct_limit_Small",
        "label": "Max Image For Mobile View",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "type": "range",
        "id": "rowproduct_limit_Mobile",
        "label": "Max Image For Small Tablet View",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rowproduct_limit_Tablet",
        "label": "Max Image For Tablet View",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "rowproduct_limit_Laptop",
        "label": "Max Image For Laptop View",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 5
      },
      {
        "type": "range",
        "id": "rowproduct_limit_Desktop",
        "label": "Max Image For Desktop View",
        "min": 2,
        "max": 7,
        "step": 1,
        "default": 7
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    "presets": [
      {
        "name": "Ishi Instagram Block"
      }
    ]
  }
{% endschema %}


