<div class="ishiparallaxbanner">
  <div class="parallax-block{% if section.settings.parallaximage %} parallax-image lazyload{% elsif section.settings.parallaxcolor %} parallax-color{% endif %} {% if section.settings.fixed %}fixed{% endif %}"
      {% if section.settings.parallaximage %} data-bg="{{ section.settings.parallaximage | img_url: 'master' }}"{% endif %}>
    <div class="page-width">
        <div class="parallax-list parallax-text-{{section.settings.parallax_text_position}} col-xl-6 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          {% if section.settings.main-title1 != blank %}
            <div class="parallax-title1">{{ section.settings.main-title1 }}</div>
          {% endif %}
          {% if section.settings.main-title2 != blank %}
            <div class="parallax-title2">{{ section.settings.main-title2 }}</div>
          {% endif %}
          {% if section.settings.subtitle != blank %}
            <div class="parallax-info">{{ section.settings.subtitle }}</div>
          {% endif %}
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
           <div class="viewmore-btn">
            <a class="btn btn-primary" href="{{ section.settings.button_link }}">{{ section.settings.button_label | escape }}</a>
          </div>
          {% endif %}
        </div>
    </div>
  </div>
</div>



<style type="text/css">
  
  #shopify-section-{{ section.id }}{
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  #shopify-section-{{ section.id }} .parallax-color{
  	background-color: {{ section.settings.parallaxcolor }};
  }
  #shopify-section-{{ section.id }} .parallax-block{
  	padding: {{ section.settings.parallaxpadding }}px 0;
  }
  #shopify-section-{{ section.id }} .parallax-text-right{
    float: right;
  }
  #shopify-section-{{ section.id }} .parallax-text-left{
    float: left;
  }
  #shopify-section-{{ section.id }} .parallax-text-center{
    margin: 0 auto;
    float: none;
  }
   #shopify-section-{{ section.id }} .parallax-list{
    text-align:{{ section.settings.parallaxtextalignment }};
   }
  #shopify-section-{{ section.id }} .parallax-list .parallax-title1{
      color:{{ section.settings.parallaxtextcolor1 }};
  }
  #shopify-section-{{ section.id }} .parallax-list .parallax-title2{
      color:{{ section.settings.parallaxtextcolor2 }};
  }
  #shopify-section-{{ section.id }} .parallax-list .parallax-info{
      color:{{ section.settings.parallaxtextcolor3 }};
    border: 1px solid {{ section.settings.parallaxtextcolor3 }};
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }}{
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
    #shopify-section-{{ section.id }} .parallax-block{
     padding: {{ section.settings.parallaxpadding | divided_by: 2 }}px 0;
    }
  }
</style>


{% schema %}
  {
    "name": "Parallax Without Timer",
    "tag": "section",
    "class": "parallax-block-without-timer",
    "settings": [
      {
        "type": "image_picker",
        "id": "parallaximage",
        "label": "Background Image",
        "info": "Size: 1920px X 850px"
      },
      {
        "type": "color",
        "id": "parallaxcolor",
        "label": "Background Color",
        "default": "#f4f5f6"
      },
      {
        "type": "color",
        "id": "parallaxtextcolor1",
        "label": "Text Color1",
        "default": "#eda310"
      },
      {
        "type": "color",
        "id": "parallaxtextcolor2",
        "label": "Text Color2",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "parallaxtextcolor3",
        "label": "Text Color3",
        "default": "#444444"
      },
      {
        "type": "range",
        "id": "parallaxpadding",
        "min": 0,
        "max": 200,
        "step": 20,
        "label": "Internal Box Space/Padding",
        "default": 160
      },
      {
        "type": "checkbox",
        "id": "fixed",
        "label": "Background Attachment Fixed ?",
        "default": true
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
	     {
        "type": "select",
        "id": "parallax_text_position",
        "label": "Text Position",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left"},
		  { "value": "center", "label": "Center"},
          { "value": "right", "label": "Right"}
        ]
      },
      {
        "type": "select",
        "id": "parallaxtextalignment",
        "label": "Text Alignment",
        "default": "center",
        "options": [
          { "value": "left", "label": "Left"},
          { "value": "center", "label": "Center"},
          { "value": "right", "label": "Right"}
        ]
      },
      {
        "type": "text",
        "id": "main-title1",
        "label": "Parallax Title 1",
        "default": "Simplify"
      },
      {
        "type": "text",
        "id": "main-title2",
        "label": "Parallax Title 2",
        "default": "Everything!"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title",
		 "default": "Up To 40% Off Final Sale Items Order Now !"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
		    "default": "SHOP NOW"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    "presets": [
      {
        "name": "Parallax Block Without Timer"
      }
    ]
  }
{% endschema %}
