
<div class="collection-list-wrapper {% if section.settings.collection_background == 'box' %}page-width{% else %}collectionblock-full{% endif %}">
  {% if section.settings.collection_background == 'box' %}<div class="row">{% endif %}
    {% if section.settings.hometitle != blank %}
      <div class="section-header center">
        <h2 class="title">{{ section.settings.hometitle }}</h2>
      </div>
    {% endif %}

  {% case section.settings.grid %}
   {% when '2' %}
    {%- assign grid_item_width = 'col-md-6 col-sm-6 col-xs-12' -%}
    {%- assign image_size = '530x' -%}
  {% when '3' %}
    {%- assign grid_item_width = 'col-lg-4 col-md-6 col-sm-6 col-xs-12' -%}
    {%- assign image_size = '350x' -%}
  {% when '4' %}
    {%- assign grid_item_width = 'col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12' -%}
    {%- assign image_size = '250x' -%}
  {% endcase %}

  <slider-component class="slider-mobile-gutter">
    <ul class="collection-list grid collection-width-{{section.settings.grid}} {% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} {% if section.settings.show_view_all == false or section.blocks.size > collections.size %} negative-margin--small{% endif %}"
      id="Slider-{{ section.id }}"
      role="list"
    >
      {%- for block in section.blocks -%}
      {%- assign collection = collections[block.settings.collection] -%}
          	{%- assign collectionimage = block.settings.collectionimage -%}
        <li class="collection-list__item grid__item {{ grid_item_width }}{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}" {{ block.shopify_attributes }}>
          <a{% if collection != blank and collection.all_products_count > 0 %} href="{{ collection.url }}"{% endif %}
            class="card">
            
            {% include 'collection-grid-item1' %}
          </a>
        </li>
      {%- endfor -%}
    </ul>

    {%- if section.settings.swipe_on_mobile -%}
      <div class="slider-buttons no-js-hidden{% if section.blocks.size < 2 %} small-hide{% endif %}">
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% include 'icons' with 'caret' %}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% include 'icons' with 'caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>

  {%- if section.settings.show_view_all and section.blocks.size < collections.size -%}
    <div class="center view-all-btn">
      <a href="{{ routes.collections_url }}" class="button">{{ 'sections.collection_list.view_all' | t }}</a>
    </div>
  {%- endif -%}
  {% if section.settings.collection_background == 'box' %}  </div>{% endif %}

</div>

<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Ishi Collection Block",
  "tag": "section",
  "class": "collection-list-section ishi-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "hometitle",
      "label": "Main Title",
      "default": "OUR COLLECTION"
    },
   {
          "type": "select",
          "id": "collection_background",
          "label": "Select Layout",
          "default": "box",
          "options": [
            { "value": "box", "label": "Box"},
            { "value": "full", "label": "Full"}
          ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt To Image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "square",
      "label": "Image Ratio",
      "info": "To add images, [edit your collections](https:\/\/help.shopify.com\/en\/manual\/products\/collections)"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "Enable \"View all\" button if list includes more collections than shown"
    },
	{
      "type": "checkbox",
      "id": "show_collection_item",
      "label": "Show Collection Item",
      "default": true
    },
	{
      "type": "select",
      "id": "grid",
      "label": "Number Of Column",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
	{
      "type": "header",
      "content": "Section Bottom Spacing"
    },
    {
      "type": "range",
      "id": "section_bottom_spacing_desktop",
      "label": "Desktop",
      "min": 0,
      "max": 70,
      "step": 10,
      "default": 60
    },
    {
      "type": "range",
      "id": "section_bottom_spacing_mobile",
      "label": "Mobile",
      "min": 0,
      "max": 50,
      "step": 10,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
		{
          "type": "image_picker",
          "id": "collectionimage",
          "label": "Image"
		},
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ishi Collection Block",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
