 {% if section.blocks.size > 0 %}
<div class="ishiservices">
    <div class="ishiservices-content page-width">
      <div class="service-block row">
          {% for block in section.blocks %} 
              <div class="services col-md-4 col-sm-12 col-xs-12">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% else %}role="link" aria-disabled="true"{% endif %}>
                    {% if block.settings.service-image != blank %}
                  <div class="service-img-outer">
                    <div class="service-img">
                      <img class="lazyload" data-src="{{ block.settings.service-image | img_url: 'master' }}" alt="service Image">
                    </div>
                  </div>
                  {% endif %}
                  <div class="service-text">
                    {% if block.settings.service-title != blank %}
                    <div class="service-title">{{ block.settings.service-title | escape }}</div>
                    {% endif %}
                    {% if block.settings.service-desc != blank %}
                    <div class="service-desc">{{ block.settings.service-desc | escape }}</div>
                    {% endif %}
                  </div> 
                </a>
              </div>
          {% endfor %}
      </div>
    </div>
</div>
   {% endif %}

<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
   @media (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.section_top_spacing_desktop }}px;
    }
   }
  
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

{% schema %}
  {
	"name": "Service Block Style 1",
    "tag": "section",
    "class": "ishi-service-block-style1",
    "max_blocks": 3,
    "settings": [
     {
        "type": "header",
        "content": "Section Top Spacing"
      },
      {
        "type": "range",
        "id": "section_top_spacing_desktop",
        "label": "Desktop",
        "min": -70,
        "max": 70,
        "step": 10,
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    
    "blocks": [
      { 
        "type": "image",
        "name": "Service",
        "settings": [
          {
            "type": "image_picker",
            "id": "service-image",
            "label": "Image",
            "info": "Size: 50px X 50px"
          },
          {
            "type": "text",
            "id": "service-title",
            "label": "Heading",
            "default": "Service Title"
          },
          {
            "type": "text",
            "id": "service-desc",
            "label": "Sub Title",
            "default": "Lorem Ipsum is simply dummy"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Service Block Style 1",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}