

   <div class="newsletter {% if section.settings.newsletterimage %}newsletter-image lazyload {% elsif section.settings.newslettercolor %}newsletter-color{% endif %} {% if section.settings.fixed %}fixed{% endif %}"
       {% if section.settings.newsletterimage %} data-bg="{{ section.settings.newsletterimage | img_url: 'master' }}"{% endif %}>
     <div class="page-width">
        <div class="block_newsletter newsletter-inner">
          <div class="ishinewsletter-container center">
            {% if section.settings.maintitle != blank or section.settings.sub-heading != blank or section.settings.title-desc != blank %}
              <div class="newsletter_text">   
                  {% if section.settings.sub-heading != blank %}
                    <div class="sub-heading">
                      {{ section.settings.sub-heading | escape }}
                    </div>
                  {% endif %}
                  {% if section.settings.maintitle != blank %}
                      <h2>{{ section.settings.maintitle | escape }}</h2>
                  {% endif %} 
                {% if section.settings.title-desc != blank %}
                    <div class="title-desc">
                      {{ section.settings.title-desc }}
                    </div>
                  {% endif %}
              </div>
            {% endif %}
            {%- if section.settings.show_social -%}
                       {% include 'social-follow' %}
                      {%- endif -%}
             <div class="footer-block--newsletter {{ block.settings.alignment }}">
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                      <div class="field">
                        <input
                               id="NewsletterForm--{{ section.id }}"
                               type="email"
                               name="contact[email]"
                               class="field__input"
                               value="{{ form.email }}"
                               aria-required="true"
                               autocorrect="off"
                               autocapitalize="off"
                               autocomplete="email"
                               {% if form.errors %}
                               autofocus
                               aria-invalid="true"
                               aria-describedby="ContactFooter-error"
                               {% elsif form.posted_successfully? %}
                               aria-describedby="ContactFooter-success"
                               {% endif %}
                               placeholder="{{ 'newsletter.label' | t }}"
                               required
                               >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                          {{ 'newsletter.label' | t }}
                        </label>
                      </div>
                      {%- if form.errors -%}
                      <small class="newsletter-form__message form__message alert alert-danger" id="ContactFooter-error">{% include 'icons' with 'error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                      {%- endif -%}
                    </div>
                    <button type="submit" class="button button--primary newsletter-form__button" name="commit" id="Subscribe">
                      <span class="hidden-sm-down">{{ 'newsletter.button_label' | t }}</span>
                      <span class="hidden-sm-up">{{ 'newsletter.small_button_label' | t }}</span>

                    </button>
                    {%- if form.posted_successfully? -%}
                    <h3 class="newsletter-form__message newsletter-form__message--success form__message alert alert-success" id="ContactFooter-success" tabindex="-1" autofocus>{% include 'icons' with 'success' %} {{ 'newsletter.success' | t }}</h3>
                    {%- endif -%}
                    {%- endform -%}
                   
                </div>
            
          </div>
       </div>
     </div>
</div>

<style type="text/css"> 
  #shopify-section-{{ section.id }}{
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  #shopify-section-{{ section.id }} .newsletter-color{
  	background-color: {{ section.settings.newslettercolor }};
  }
  #shopify-section-{{ section.id }} .newsletter{
  	padding: {{ section.settings.newsletter_padding }}px 0;
  }
  #shopify-section-{{ section.id }} .newsletter .block_newsletter .newsletter_text h2,
  #shopify-section-{{ section.id }} .newsletter .block_newsletter .newsletter_text .sub-heading,
  #shopify-section-{{ section.id }} .newsletter .block_newsletter .newsletter_text .title-desc p{
    color:{{ section.settings.newslettertextcolor }};
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }}{
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
    #shopify-section-{{ section.id }} .newsletter{
      padding: {{ section.settings.newsletter_padding | divided_by: 2 }}px 0;
    }
  }
</style>


{% schema %}
  {
    "name": "Ishi Newsletter Block",
    "tag": "section",
    "class": "ishi-newsletter-block",
    "settings": [
      {
        "type": "image_picker",
        "id": "newsletterimage",
        "label": "Background Image",
        "info": "Size: 1920px X 650px"
      },
      {
        "type": "color",
        "id": "newslettercolor",
        "label": "Background Color",
        "default": "#f8f8f8"
      },
      {
        "type": "color",
        "id": "newslettertextcolor",
        "label": "Text Color",
        "default": "#222222"
      },
      {
        "type": "range",
        "id": "newsletter_padding",
        "min": 0,
        "max": 200,
        "step": 20,
        "label": "Internal Box Space/Padding",
        "default": 80
      },
      {
        "type": "checkbox",
        "id": "fixed",
        "label": "Background Attachment Fixed ?",
        "default": false
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Title",
        "default": "CONNECT "
      },
      {
        "type": "text",
        "id": "maintitle",
        "label": "Title",
        "default": "Join Our Newsletter"
      },
      {
        "type": "html",
        "id": "title-desc",
        "label": "Description",
        "default": "<p>Hey you, sign up it only takes a second to be the first to find out about our latest news and promotions…</p>"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show Social Icon",
        "default": true
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    "presets": [
      {
        "name": "Ishi Newsletter Block"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
