<div class="offer-block">
  <div class="page-width">
    <div class="offer-background">
      <div class="offer-inner">
        {% if section.blocks.size > 0 %}
          <div class="ishiofferblock-carousel-{{ section.id }} owl-carousel owl-theme">
              {% for block in section.blocks %}
                  <div class="ishiofferblock-container item">
                    <div class="ishiofferblock-container">
                        <a href="{% if block.settings.button_link != blank %}{{ block.settings.button_link }}{% else %}/{% endif %}">
                            <div class="heading">{{ block.settings.category-title }}</div>
                        </a>
                    </div>
                  </div>
              {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  #shopify-section-{{ section.id }} .offer-background{
    background-color: {{ section.settings.offerbgcolor }};
  }
  #shopify-section-{{ section.id }} .offer-background .ishiofferblock-container .heading{
    color: {{ section.settings.offertextcolor }};
  }
  #shopify-section-{{ section.id }} .offer-block .owl-nav .owl-prev i, #shopify-section-{{ section.id }} .offer-block .owl-nav .owl-next i{
    color: {{ section.settings.offertextcolor }} !important;;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>


<script>
  jQuery(document).ready(function() {
     $('.ishiofferblock-carousel-{{ section.id }}').owlCarousel({
      navText: [
        '<i class=\'fa fa-angle-left\'></i>',
        '<i class=\'fa fa-angle-right\'></i>'
      ],
      dots: false,
      loop: true,
      autoplay: true,
      nav: true,
      animateOut:"fadeOut",
      animateIn:"zoomIn",
      smartSpeed:4000,
      responsive: {
        0: {
          items: 1
        },
        544: {
          items: 1
        },
        768: {
          items: 1
        },
        992: {
          items: 1
        },
        1200: {
          items: 1
        }
      }
    });
  });
</script>


{% schema %}
  {
    "name": "Ishi Offer Block",
    "tag": "section",
    "class": "ishi-offer-block",
    "settings": [
      {
        "type": "color",
        "id": "offerbgcolor",
        "label": "Background Color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "offertextcolor",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 30
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
    "blocks": [
      { 
        "type": "text",
        "name": "Offer Text",
        "settings": [
          {
            "type": "text",
            "id": "category-title",
            "label": "Offer Text",
            "default": "UP TO 80% OFF THE ENTIRE STORE "
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ishi Offer Block"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
