<div class="collection page-width">
  {% if section.settings.hometitle != blank %}
      <div class="section-header center">
        <h2 class="title">{{ section.settings.hometitle }}</h2>
      </div>
    {% endif %}

  {%- liquid
    assign products_to_display = section.settings.collection.all_products_count

    if section.settings.collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
    endif
  %}
  
<div class="ishi-featured-product-tab">
  {% if section.blocks.size > 1 %}
  	<ul class="ishi-product-tabs nav ishi-product-nav-tabs tab-id">
      {% assign i = 1 %}
      {% for block in section.blocks %}
       {% if block.settings.title != blank %}
      <li class="ishi-product-tab-item{% if i == 1 %} active{% endif %}"><a class="ishi-product-nav-link" data-href="#tab-{{i}}--{{ section.id }}">{{block.settings.title}}</a></li>
        {% endif %}
      {% assign i = i | plus: 1 %}
      {% endfor %}
    </ul>
   {% endif %}
    <div class="ishi-product-tab-content">
      {% assign i = 1 %}
      {% for block in section.blocks %}
      <div id="tab-{{i}}--{{ section.id }}" class="ishi-product-tab-pane ishi-fade{% if i == 1 %} active{% endif %}">
  <slider-component class="slider-mobile-gutter">
    {%- assign collection = collections[block.settings.collection] -%}
    <ul class="product-list grid row{% if section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}" role="list">
      {% assign counter = 1 %}
      {%- for product in collection.products limit: section.settings.products_to_show -%}
        <li class="grid__item col-lg-6 col-md-12 col-sm-12 col-xs-12{% if section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
          {% render 'product-card-grid-style2',
            product_card_product: product,
            media_size: settings.image_ratio,
          	product_count: {{counter}},
            show_secondary_image: settings.show_secondary_image,
            show_vendor: settings.show_vendor
          %}
          {% assign counter = counter | plus: 1 %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item col-lg-6 col-md-12 col-sm-12 col-xs-12">
            {% render 'product-card-placeholder-style2' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    {%- if section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
      <div class="slider-buttons no-js-hidden">
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% include 'icons' with 'caret' %}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% include 'icons' with 'caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>

  {%- if block.settings.show_view_all -%}
    <div class="center view-all-btn">
      <a href="{{ block.settings.collection.url }}"
        class="button"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
  </div>
      {% assign i = i | plus: 1 %}
      {% endfor %}
    </div>
  </div>
</div>

<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

<script>
  $(document).ready(function () {
    $(document).on("click",".ishi-product-nav-link",function() {
      $(this).parents(".ishi-product-nav-tabs").find(".ishi-product-tab-item").removeClass("active");
      $(this).parents(".ishi-product-tab-item").addClass("active");

      $(this).parents(".ishi-featured-product-tab").find(".ishi-product-tab-pane").removeClass("active");
      var target = $(this).data("href");
      $(target).addClass("active");
    });
  });
</script>

{% schema %}
{
  "name": "Ishi Product Block Style2",
  "tag": "section",
  "class": "featured-product-section ishi-product-block-style2",
  "settings": [
    {
      "type": "text",
      "id": "hometitle",
      "label": "Main Title",
      "default": "TRENDING PRODUCTS"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Maximum Products to Show"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable Swipe on Mobile"
    },
    {
        "type": "text",
        "id": "show_description",
        "label": "Length of Characters for Short Product Description.",
        "default": "100"
    },
	{
      "type": "header",
      "content": "Section Bottom Spacing"
    },
    {
      "type": "range",
      "id": "section_bottom_spacing_desktop",
      "label": "Desktop",
      "min": 0,
      "max": 70,
      "step": 10,
      "default": 70
    },
    {
      "type": "range",
      "id": "section_bottom_spacing_mobile",
      "label": "Mobile",
      "min": 0,
      "max": 50,
      "step": 10,
      "default": 30
    }
  ],
"blocks": [
    {
      "type": "product_tab",
      "name": "Products Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Product Tab Title"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_view_all",
          "label": "Enable \"View all\" button if collection has more products than shown",
          "default": true
        }
	  ]
    }
  ],
  "presets": [
    {
      "name": "Ishi Product Block Style2"
    }
  ]
}
{% endschema %}
