{% assign imgRatio = "" %}
<div class="ishislider">
  <div class="slideshow-block">
    {% if section.blocks.size > 0 %}
      <div class="ishislideshow-carousel ishislideshow-carousel-{{ section.id }} {% if section.blocks.size > 1 %}owl-carousel slider-with-options owl-theme{% endif %} logo-bar"
           {% if section.blocks.size > 1 %}
           data-small="1" 
           data-mobile="1" 
           data-tablet="1" 
           data-laptop="1"  
           data-desktop="1"
           data-autoplaytimeout="5000"
           data-autoplay="true"
           data-nav="true"
           data-dots="true"
           data-loop="true"
           {% endif %}>
        {% for block in section.blocks %}
         {% assign imgRatio = 1 | divided_by: block.settings.image.aspect_ratio | times: 100 | divided_by: 2 %}
          <div class="slideshow__item" {{ block.shopify_attributes }}>
                <a href="{{ block.settings.link }}"  {% if block.settings.image != blank %} class="media"{% endif %} style="padding-bottom: {{ imgRatio }}%;padding-top: {{ imgRatio }}%;">
               <div class="slideshow__link" >
                  {% if block.settings.image != blank %}
                   <img 
                        src=" {{ block.settings.image | img_url: 'master' }}"
                        alt="Slider Image">
            {% else %}
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
                   {% if block.settings.subtitle != blank or block.settings.maintitle != blank or block.settings.desc != blank or block.settings.button_label != blank %}
                  <div class="page-width">
                  <div class="slider-content col-xl-5 col-lg-6 col-md-6 col-sm-5 col-xs-5 slider-content-{{block.settings.text_position}}" style="text-align:{{ block.settings.textalignment }}">
                     {% if block.settings.subtitle != blank %}
                        <div class="sub-title" style="color:{{ block.settings.subtitlecolor }}"> {{ block.settings.subtitle }}</div>
                      {% endif %}
                     {% if block.settings.maintitle != blank %}
                       <div class="main-title" style="color:{{ block.settings.maintitlecolor }}">{{ block.settings.maintitle }}</div>
                      {% endif %}
                      {% if block.settings.desc != blank %}
                       <div class="desc" style="color:{{ block.settings.desccolor }}">{{ block.settings.desc }}</div>
                      {% endif %}
                      {% if block.settings.button_label != blank %}
                        <div class="slider-btn btn">{{ block.settings.button_label | escape }}</div>
                     {% endif %}
                  </div> 
                  </div>
                   {% endif %}
                  </div>
                </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
     {% if section.blocks.size > 1 %}
    <div class="ishislideshow-space">
      <div class="slideshow__item" style="{% if block.settings.image != blank %}padding-bottom:{{ imgRatio }}%;padding-top: {{ imgRatio }}%;{% else %}padding-bottom:17%;padding-top: 17%;   {% endif %}">
        <img src="{{ 'loader.svg' | asset_url }}" />
      </div>
    </div>
     {% endif %}
  </div>
</div>

<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  #shopify-section-{{ section.id }} .slider-content-right{
    float: right;
  }
  #shopify-section-{{ section.id }} .slider-content-left{
    float: left;
  }
  #shopify-section-{{ section.id }} .slider-content-center{
    margin: 0 auto;
    float:unset;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Ishi Slideshow",
    "tag": "section",
    "class": "ishi-slider-section",
    "settings": [
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 30
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
      
    ],
    "blocks": [
      {
        "type": "slide_image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Size: 1920px X 960px"
          },
 {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "default": "left",
            "options": [
              { "value": "left", "label": "Left"},
              { "value": "center", "label": "Center"},
              { "value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "textalignment",
            "label": "Text Alignment",
            "default": "left",
            "options": [
              { "value": "left", "label": "Left"},
              { "value": "center", "label": "Center"},
              { "value": "right", "label": "Right"}
            ]
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "<em>Spring</em>"
          },
          {
            "type": "color",
            "id": "subtitlecolor",
            "label": "Subtitle Color",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "maintitle",
            "label": "Title",
            "default": "<span>Trendy </span><br>Fashion!"
          },
          {
            "type": "color",
            "id": "maintitlecolor",
            "label": "Title Color",
            "default": "#000000"
          },
          {
            "type": "html",
            "id": "desc",
            "label": "Description",
			"default": "500+ Deals On Top Brands & Big Offer On First Order"
          },
          {
            "type": "color",
            "id": "desccolor",
            "label": "Description Color",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "SHOP NOW"
          },
		  {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
           
        ]
      }
    ],
    "presets": [
      {
        "name": "Ishi Slideshow",
        "blocks": [
          {
            "type": "slide_image"
          },
          {
            "type": "slide_image"
          }
        ]
      }
    ]
  }
{% endschema %}

