{% comment %} convert our dates to Number of seconds 
              since 1970-01-01 00:00:00 UTC {% endcomment %}
{% assign time = 'now' | date: '%s' %}
{% assign datestart = section.settings.startdate | date: "%s" %}


{% assign datestartjs = section.settings.startdate |  date: "%F" %}
{% assign deal = 0 %}

{% if datestart > time %}
  {% assign deal = 1 %}
{% else %}
 {% assign deal = 0 %}
{% endif %}
<div id="passwordpage_header" class="password-header clearfix">
  <div class="password__deal">
    {%- if section.settings.logo -%}
      <img
        data-src="{{ section.settings.logo | img_url: 'master' }}"
        class="password-logo lazyload"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        style="max-width: {{ section.settings.logo_max_width }}px"
        width="{{ section.settings.logo_max_width }}"
        height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
      >
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}
    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    <h2 class="password__title">{{ section.settings.header | escape }}</h2>
    {%- if section.settings.startdate != blank -%}
    <div id="storecountdown"data-counter="{{ datestartjs }}">
      <div class="countdown-days countdown">
        <div class="timer-days data"></div>
        <div class="text">{{ 'general.counter.days' | t }}</div>
      </div>
      <div class="countdown-hours">
        <div class="timer-hours data"></div>
        <div class="text">{{ 'general.counter.hours' | t }}</div>
      </div>
      <div class="countdown-minutes">
        <div class="timer-min data"></div>
        <div class="text">{{ 'general.counter.minutes' | t }}</div>
      </div>
      <div class="countdown-seconds">
        <div class="timer-sec data"></div>
        <div class="text">{{ 'general.counter.seconds' | t }}</div>
      </div>
    </div> 
    {%- endif -%}
    
  </div>
</div>

 <script type="text/javascript">
        // Set the date we're counting down to
        var countDownDate = new Date(document.getElementById("storecountdown").getAttribute("data-counter")).getTime();
   
        // Update the count down every 1 second
        setInterval(function() {
          var now = new Date().getTime();
          var distance = countDownDate - now;
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		  var target = document.getElementById("storecountdown");
          // Display the result in the element with id="demo"
          target.getElementsByClassName("timer-days")[0].innerHTML = days;
          target.getElementsByClassName("timer-hours")[0].innerHTML = hours;
          target.getElementsByClassName("timer-min")[0].innerHTML = minutes;
          target.getElementsByClassName("timer-sec")[0].innerHTML = seconds;
        }, 1000);
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image",
      "info": "Size: 195px X 30px"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom Logo Width (in pixels)",
      "default": "195"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "text",
      "id": "startdate",
      "label": "Start Date",
      "info": "YYYY-MM-DD"
    }
  ]
}
{% endschema %}