{% comment %}theme-check-disable TemplateLength{% endcomment %}

{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

  <div class="row grid">
    <div class="grid__item product__media-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <slider-component class="slider-mobile-gutter{% if section.settings.enable_sticky_product %} product--media--sticky{% endif %}">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul id="main-media-container" class="single-product zoom">
          {%- if product.featured_media -%}
            {%- assign media = product.featured_media -%}
            <li class="product__media-item grid__item" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
            </li>
          {%- endif -%}
        </ul>
        <ul class="product__media-list grid owl-carousel" role="list">
          {%- for media in product.media -%}
          <li class="product__media-item grid__item" data-media-id="{{ section.id }}-{{ media.id }}" data-media-type="{{media.media_type}}">
            {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
          </li>
          {%- endfor -%}
        </ul>
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icons' with '3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
    <div class="product__info-wrapper grid__item col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" style="margin-bottom: {{block.settings.text_margin}}px;" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="product__title" style="margin-bottom: {{block.settings.title_margin}}px;"{{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'review' -%}
        	<div class="review" style="margin-bottom: {{block.settings.review_margin}}px;">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              {% if product.metafields.spr.reviews == blank %}
              <span class="no-review hidden-xs-down"> {{ 'products.product.no_review' | t }} </span>
              {% endif %}
              <a href="javascript:void(0);" class="write_comment">{{ 'products.product.write_review' | t }}<i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
          {%- when 'price' -%}
        	<div class="product-price" style="margin-bottom: {{block.settings.price_margin}}px;">
              <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
              </div>
               {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__tax caption">
                {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}
              <div {{ block.shopify_attributes }}>
                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>
    		</div>
          {% when 'product_information' %}
            <div class="product-information" style="margin-bottom: {{block.settings.block_margin}}px;">
                {% if block.settings.show_vendor %}
                  <p itemprop="brand" class="product-single__vendor" style="margin-bottom: {{block.settings.internal_margin}}px;">{{ 'products.product.vendor' | t }} : <span>{{ product.vendor }}</span></p>
                {% endif %}	
                {% if block.settings.show_type %}
                  <p itemprop="brand" class="product-single__vendor" style="margin-bottom: {{block.settings.internal_margin}}px;">{{ 'products.product.Producttype' | t }} : <span>{{product.type}}</span></p>
                {% endif %}
                {% if block.settings.show_sku and current_variant.sku != blank %}
                  <p itemprop="brand" class="product-single__vendor" style="margin-bottom: {{block.settings.internal_margin}}px;">{{ 'products.product.sku' | t }} : <span class="variant-sku"> {{ current_variant.sku }}</span></p>
                {% endif %}	
            </div>
          {%- when 'wishlist_sizechart' -%}
        	<div class="wishlist-sizechart" style="margin-bottom: {{block.settings.wishlist_sizechart_margin}}px;">
              {% if block.settings.show_wishlist %}
                  {% include 'wishlist-product' %}
              {% endif %}
              {% if block.settings.sizechart_text != blank %}
              <ishimodal-opener class="product-popup-modal__opener no-js-hidden size-chart" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
               {% include 'icons' with 'sizechart' %}
                <div id="ProductPopup-{{ block.id }}" class="ishi-popup-modal__button link" type="button" aria-haspopup="dialog" data-href="#PopupModal-{{ block.id }}" data-toggle="popover" aria-expanded="false">{{ block.settings.sizechart_text | default: block.settings.sizechart_page.title }}</div>
              </ishimodal-opener>
              <a href="{{ block.settings.sizechart_page.url }}" class="ishi-popup-modal__button link no-js">{{ block.settings.sizechart_text }}</a>
        	{% endif %}
        	</div>
          {%- when 'progressbar' -%}
            <div class="ishi-progress-space" style="margin-bottom: {{block.settings.progressbar_margin}}px;">
              {%- assign productquantity = block.settings.current_quantity -%}
                <div class="ishi-progress-content{% if current_variant.inventory_quantity > productquantity %} hidden{% endif %}" data-quantity="{{ productquantity }}">
                  <div class="quantity-value">
                    {{ 'products.product.stock-quantitymessage1' | t }}
                    <div id="variant-stock" class="variant_quantity">
                      {{ current_variant.inventory_quantity }}
                    </div>
                    {{ 'products.product.stock-quantitymessage2' | t }}
                  </div>
                  <div id="ishi-progress-bar">
                    <span></span>
                  </div>
                </div>
                {% for variant in product.variants %}
                  <span id="variant-{{ variant.id }}" data-stock="{{ variant.inventory_quantity }}" {% if product.selected_or_first_available_variant.id == variant.id %}class="selected-variant" {% endif %}></span>
                {% endfor %}
            </div>
          {%- when 'reassurance' -%}
        	<div class="reassurance-space" style="margin-bottom: {{block.settings.reassurance_margin}}px;">
              <div class="{% if settings.show_product %}with-sidebar{% endif %} reassurance-block">
                <div class="reassurance-content row">
                  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    {% if block.settings.reassurance-image1 != blank %}
                    <div class="reassurance-img">
                      <img class="lazyload" data-src="{{ block.settings.reassurance-image1 | img_url: 'master' }}" alt="Reassurance Image">
                    </div>
                    {% endif %}
                    {% if block.settings.reassurance-title1 != blank or block.settings.reassurance-desc1 != blank %}
                    <div class="reassurance-text">
                      {% if block.settings.reassurance-title1 != blank %}
                      <div class="reassurance-title">{{ block.settings.reassurance-title1 | escape }}</div>
                      {% endif %} 
                      {% if block.settings.reassurance-desc1 != blank %}
                      <div class="reassurance-desc">{{ block.settings.reassurance-desc1 | escape }}</div>
                      {% endif %}
                    </div> 
                    {% endif %}
                  </div>
                  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    {% if block.settings.reassurance-image2 != blank %}
                    <div class="reassurance-img">
                      <img class="lazyload" data-src="{{ block.settings.reassurance-image2 | img_url: 'master' }}" alt="Reassurance Image">
                    </div>
                    {% endif %}
                    {% if block.settings.reassurance-title2 != blank or block.settings.reassurance-desc2 != blank %}
                    <div class="reassurance-text">
                      {% if block.settings.reassurance-title2 != blank %}
                      <div class="reassurance-title">{{ block.settings.reassurance-title2 | escape }}</div>
                      {% endif %}
                      {% if block.settings.reassurance-desc1 != blank %}
                      <div class="reassurance-desc">{{ block.settings.reassurance-desc2 | escape }}</div>
                      {% endif %}
                    </div> 
                    {% endif %}
                  </div>
                  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    {% if block.settings.reassurance-image3 != blank %}
                    <div class="reassurance-img">
                      <img class="lazyload" data-src="{{ block.settings.reassurance-image3 | img_url: 'master' }}" alt="Reassurance Image">
                    </div>
                    {% endif %}
                    {% if block.settings.reassurance-title3 != blank or block.settings.reassurance-desc3 != blank %}
                    <div class="reassurance-text">
                      {% if block.settings.reassurance-title3 != blank %}
                      <div class="reassurance-title">{{ block.settings.reassurance-title3 | escape }}</div>
                      {% endif %}
                      {% if block.settings.reassurance-desc3 != blank %}
                      <div class="reassurance-desc">{{ block.settings.reassurance-desc3 | escape }}</div>
                      {% endif %}
                    </div> 
                    {% endif %}
                  </div>
                  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    {% if block.settings.reassurance-image4 != blank %}
                    <div class="reassurance-img">
                      <img class="lazyload" data-src="{{ block.settings.reassurance-image4 | img_url: 'master' }}" alt="Reassurance Image">
                    </div>
                    {% endif %}
                    {% if block.settings.reassurance-title4 != blank or block.settings.reassurance-desc4 != blank %}
                    <div class="reassurance-text">
                      {% if block.settings.reassurance-title4 != blank %}
                      <div class="reassurance-title">{{ block.settings.reassurance-title4 | escape }}</div>
                      {% endif %}
                      {% if block.settings.reassurance-desc4 != blank %}
                      <div class="reassurance-desc">{{ block.settings.reassurance-desc4 | escape }}</div>
                      {% endif %}
                    </div> 
                    {% endif %}
                  </div>
                </div>
              </div>
        	</div>
          {%- when 'trusted_image' -%}
         {% if block.settings.trust-image != blank %}
        	<div class="trusted-img" style="margin-bottom: {{block.settings.trusted_image_margin}}px;">
          <img 
               class="lazyload"
               data-src="{{ block.settings.trust-image | img_url: 'master' }}"
               alt="Trusted Image">
          </div>
              {% endif %}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte" style="margin-bottom: {{block.settings.description_margin}}px;">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity" style="margin-bottom: {{block.settings.quantity_selector_margin}}px;" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                   {% include 'icons' with 'minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% include 'icons' with 'plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
        	<div class="popup-sapce" style="margin-bottom: {{block.settings.popup_margin}}px;">
              <ishimodal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <div id="ProductPopup-{{ block.id }}" class="ishi-popup-modal__button link" type="button" aria-haspopup="dialog" data-href="#PopupModal-{{ block.id }}" data-toggle="popover" aria-expanded="false">{{ block.settings.link_label | default: block.settings.page.title }}</div>
              </ishimodal-opener>
              <a href="{{ block.settings.page.url }}" class="ishi-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
        	</div>
          {%- when 'share' -%}
            <div class="share_this_btn" style="margin-bottom: {{block.settings.share_margin}}px;">
              {% include 'addthis' %}
            </div>
          {%- when 'variant_picker' -%}
        	<div class="variant-space" style="margin-bottom: {{block.settings.variant_picker_margin}}px;">
              {%- unless product.has_only_default_variant -%}
                {%- if settings.picker_type == 'button' -%}
                  {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
                  <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                    {%- for option in product.options_with_values -%}
                    	{%- assign downcase_option = option.name | downcase -%}
                        <fieldset class="js product-form__input {{ downcase_option }}">
                          <legend class="form__label">{{ option.name }}</legend>
                          {%- for value in option.values -%}
                          	{%- assign downcase_value = value | downcase -%}
                            {%- assign color_swatch_name = value | handle | append: '.png' -%}
                            {%- assign color_swatch_image = images[color_swatch_name] -%}
                            {%- assign value_size = value.size -%}
                            <input type="radio" id="{{ section.id }}-{{ option.position  }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                          {% if color_label contains downcase_option %}
                          	<label for="{{ section.id }}-{{ option.position  }}-{{ forloop.index0 }}"
                                   style="{% if color_swatch_image != blank %}background-image: url({{ color_swatch_image | img_url: '64x64' }});{% else %}background-color: {{ value | replace: ' ', '' | downcase }}; {% endif %}">
                            </label>
                          {% else %}
                            <label for="{{ section.id }}-{{ option.position  }}-{{ forloop.index0 }}"{% if value_size < 3 %}class="square"{% endif %}>
                              {{ value }}
                            </label>
                          {% endif%}
                          {%- endfor -%}
                        </fieldset>
                    {%- endfor -%}
                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-radios>
                {%- else -%}
                  <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                    {%- for option in product.options_with_values -%}
                      <div class="product-form__input product-form__input--dropdown">
                        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                          {{ option.name }}
                        </label>
                        <div class="select">
                          <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            class="select__select"
                            name="options[{{ option.name | escape }}]"
                            form="{{ product_form_id }}"
                          >
                            {%- for value in option.values -%}
                              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                {{ value }}
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icons' with 'caret' %}
                        </div>
                      </div>
                    {%- endfor -%}

                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-selects>
                {%- endif -%}
              {%- endunless -%}

              <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                  <div class="select">
                    <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                      {%- for variant in product.variants -%}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                          {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {%- endfor -%}
                    </select>
                     {% render 'icons' with 'caret' %}
                  </div>
                </div>
              </noscript>
          </div>
          {%- when 'buy_buttons' -%}
        	<div class="buy-btn-space" style="margin-bottom: {{block.settings.buy_buttons_margin}}px;">
              {% unless product.available %}
                <div id="sold-out">
                  {% form 'contact' %}
                    {% if form.posted_successfully? %}
                    <p class="accent-text alert alert-success">{{ 'products.product.success-message' | t }}</p>
                    {% else %}
                    <p class="notify-msg first">{{ 'products.product.soldout-notify-message' | t: title: product.title }}</p>
                    {% endif %}
                    {% if form.errors %}
                    <div class="error feedback accent-text">
                      <p>{{ 'products.product.error-message' | t }}</p>
                    </div>
                    {% endif %}
                    {% unless form.posted_successfully? %}
                    <div class="notify-price">
                      <div id="notify-me-wrapper" class="clearfix field">
                        {% if customer %}
                        <input id="soldout--{{ section.id }}" type="hidden" name="contact[email]" value="{{ customer.email }}" class="field__input"/>
                        {% else %}
                        <input id="soldout--{{ section.id }}" required="required" type="email" name="contact[email]" placeholder="{{ 'products.product.soldout_placeholder' | t }}" class="field__input styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                         <label class="field__label" for="soldout--{{ section.id }}">
                          {{ 'newsletter.label' | t }}
                        </label>
                        {% endif %}
                        
                       
                      <input type="hidden" name="contact[body]" value="{{ 'products.product.notify-message' | t: title: product.title }}" />
                        <input class="btn styled-submit" type="submit" value="{{ 'products.product.send' | t }}" />
                      </div>
                    </div>
                    <p class="notify-msg">
                      {{ 'products.product.notify-message2' | t }}
                    </p>
                    {% endunless %}
                                
                  {% endform %}
                </div>
              {% endunless %}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper alert alert-danger" role="alert" hidden>
                  {% include 'icons' with 'error' %}
                  <span class="product-form__error-message"></span>
                </div>
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width" 
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                        {%- if product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>

              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% include 'icons' with 'unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
        	</div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>


  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% include 'icons' with 'close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- for media in product.media -%}
          {%- if media.media_type == 'model' -%}
              <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">

              <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                <span class="deferred-media__poster-button motion-reduce">
                    {% render 'icons' with '3d-model' %}
                </span>
                <img
                  srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                          {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                          {{ media.preview_image | img_url: 'master' }} {{media.preview_image.width }}w" 
                  src="{{ media | img_url: '550x550' }}"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                  loading="lazy"
                  width="576"
                  height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                  alt="{{ media.preview_image.alt | escape }}"
                >
              </button>
              <template>
                  {{ media | media_tag: image_size: "2048x", toggleable: true }}
              </template>

                </product-model>
                <button
                  class="button button--full-width product__xr-button"
                  type="button"
                  aria-label="{{ 'products.product.xr_button_label' | t }}"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ media.id }}"
                  data-shopify-title="title"
                  data-shopify-xr-hidden
                  >
                  {% render 'icons' with '3d-model' %}
                  {{ 'products.product.xr_button' | t }}
                </button>
              </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks %}
  {%- for block in popups -%}
  {%- case block.type -%}
  {%- when 'popup' -%}
    <ishimodal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal toggle-dropdown" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% include 'icons' with 'close' %}</button>
        <div class="product-popup-modal__content-info">
          <h2 class="h2">{{ block.settings.page.title }}</h2>
          {{ block.settings.page.content }}
        </div>
      </div>
    </ishimodal-dialog>
  {%- when 'wishlist_sizechart' -%}
    <ishimodal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal toggle-dropdown" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.sizechart_text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% include 'icons' with 'close' %}</button>
        <div class="product-popup-modal__content-info">
          {{ block.settings.sizechart_page.content }}
        </div>
      </div>
    </ishimodal-dialog>
  {%- endcase -%}
  {%- endfor -%}

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      const activeMediaTemplate = activeMedia.querySelector('template');
      const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');
      return (msie > 0 || trident > 0);
    }
    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;
    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'elevatezoom.js' | asset_url }}"  defer="defer"></script>
{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
     {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https:\/\/help.shopify.com\/manual\/products\/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_product",
      "default": true,
      "label": "Enable Sticky Product"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "Enable Video Looping"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
	  "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ],
          "default": "body",
          "label": "Text style"
        },
		{
          "type": "range",
          "id": "text_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
      ]
    },
	{
      "type": "review",
      "name": "Reviews",
      "limit": 1,
	  "settings": [
        {
          "type": "range",
          "id": "review_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 5
        }
	  ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
	  "settings": [
        {
          "type": "range",
          "id": "title_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
	  ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
	  "settings": [
        {
          "type": "range",
          "id": "price_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 5
        }
	  ]
    },
	{
      "type": "product_information",
      "name": "Information",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": true,
          "label": "Show Vendor"
        },
		{
          "type": "checkbox",
          "id": "show_type",
          "default": true,
          "label": "Show Type"
        },
		{
          "type": "checkbox",
          "id": "show_sku",
          "default": true,
          "label": "Show SKU"
        },
		{
          "type": "range",
          "id": "internal_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Internal Space",
          "default": 10
        },
	    {
          "type": "range",
          "id": "block_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Block Space",
          "default": 10
        }
      ]
    },
	{
      "type": "wishlist_sizechart",
      "name": "Wishlist-Sizechart",
	  "limit": 1,
      "settings": [
		{
          "type": "checkbox",
          "id": "show_wishlist",
          "default": true,
          "label": "Show Wishlist"
        },
        {
          "type": "text",
          "id": "sizechart_text",
          "default": "Sizechart",
          "label": "Link label"
        },
        {
          "id": "sizechart_page",
          "type": "page",
          "label": "Page"
        },
		{
          "type": "range",
          "id": "wishlist_sizechart_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 5
        }
      ]
    },
	{
      "type": "progressbar",
      "name": "Progressbar",
	  "limit": 1,
      "settings": [
		{
          "type": "range",
          "id": "current_quantity",
          "label": "Max Quantity For Stock Alert",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 10
        },
		{
          "type": "range",
          "id": "progressbar_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
      ]
    },
	{
      "type": "reassurance",
      "name": "Reassurance",
	  "limit": 1,
      "settings": [
		{
          "type": "header",
          "content": "reassurance Item 1"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "reassurance-title1",
          "label": "Title",
          "default": "Reassurance Title"
        },
        {
          "type": "textarea",
          "id": "reassurance-desc1",
          "label": "Sub Title",
          "default": "Lorem Ipsum dummy"
        },
        {
          "type": "header",
          "content": "reassurance Item 2"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "reassurance-title2",
          "label": "Title",
          "default": "Reassurance Title"
        },
        {
          "type": "textarea",
          "id": "reassurance-desc2",
          "label": "Sub Title",
          "default": "Lorem Ipsum dummy"
        },
        {
          "type": "header",
          "content": "reassurance Item 3"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image3",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "reassurance-title3",
          "label": "Title",
          "default": "Reassurance Title"
        },
        {
          "type": "textarea",
          "id": "reassurance-desc3",
          "label": "Sub Title",
          "default": "Lorem Ipsum dummy"
        },
        {
          "type": "header",
          "content": "reassurance Item 4"
        },
        {
          "type": "image_picker",
          "id": "reassurance-image4",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "reassurance-title4",
          "label": "Title",
          "default": "Reassurance Title"
        },
        {
          "type": "textarea",
          "id": "reassurance-desc4",
          "label": "Sub Title",
          "default": "Lorem Ipsum dummy"
        },
		{
          "type": "range",
          "id": "reassurance_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 20
        }
      ]
    },
	{
      "type": "trusted_image",
      "name": "Trusted Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "trust-image",
          "label": "Image",
		  "info": "Size: 387px X 42px"
        },
		{
          "type": "range",
          "id": "trusted_image_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 20
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
	  "settings":[
	  	{
          "type": "range",
          "id": "quantity_selector_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 20
        }
	  ]
    },
    {
      "type": "variant_picker",
      "name": "Variant",
      "limit": 1,
      "settings": [
		{
          "type": "range",
          "id": "variant_picker_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show Dynamic Checkout Buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)"
        },
		{
          "type": "range",
          "id": "buy_buttons_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 20
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
	  "settings":[
		{
          "type": "range",
          "id": "description_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
	  ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
	  "settings":[
		{
          "type": "range",
          "id": "share_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
	  ]
    },
    {
      "type": "popup",
      "name": "Pop-up",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "Link label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        },
		{
          "type": "range",
          "id": "popup_margin",
          "min": 5,
          "max": 20,
          "step": 1,
		  "label": "Bottom Space",
          "default": 10
        }
      ]
    }
  ]
}
{% endschema %}
