{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
{%- assign social_icons = true -%}
{% endif %}

{%- assign show_popup = true -%}
{% if template.name != 'index' and section.settings.show_onall_page == false %}
	{%- assign show_popup = false -%}
{% endif %}

{% if show_popup and section.settings.enable %}
  <div class="newsletter-popup-overlay"> </div>
  <ishimodal-dialog id="PopupModal-newsletter" class="product-popup-modal toggle-dropdown">
    <div role="dialog" aria-label="PopupModal-newsletter" aria-modal="true" class="newsletter-popup-modal__content" tabindex="-1" data-timeout="{{section.settings.newsletter_time}}">
      <div class="modal-content popup-bg-color{% if section.settings.image_position == 'cover' and section.settings.image %} lazyload popup-bg-image{% endif %}" {% if section.settings.image_position == 'cover' and section.settings.image %}data-bg="{{ section.settings.image | img_url: 'master' }}"{% endif %}>
        <button id="ModalClose-newsletter" type="button" class="product-popup-modal__toggle" aria-label="Close">
          {% include 'icons' with 'close' %}
        </button>
        <div class="product-popup-modal__content-info">
          <div class="{% if section.settings.image_position != 'cover' %}valign-wrapper{% endif %} image-{{section.settings.image_position}}">
            {% if section.settings.image_position == 'left' or section.settings.image_position == 'right' %}
              <div class="col-md-6 popup-image">
                <img class="lazyload"
                     data-src="{{ section.settings.image | img_url: 'master' }}"
                     alt="Newsletter Popup Image">
              </div>
            {% endif %}
            <div class="{% if section.settings.image_position == 'cover' %}col-md-12 col-sm-12{% else %}col-md-6 col-sm-12{% endif %} popup-text popup-text-{{section.settings.text_position}}">
              {% if section.settings.maintitle != blank %}
              <h3 class="popup-title">{{ section.settings.maintitle | escape }}</h3>
              {% endif %}
              {% if section.settings.subtitle != blank %}
              <p class="popup-sub-title">{{ section.settings.subtitle | escape }}</p>
              {% endif %}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                             id="NewsletterForm--{{ section.id }}"
                             type="email"
                             name="contact[email]"
                             class="field__input"
                             value="{{ form.email }}"
                             aria-required="true"
                             autocorrect="off"
                             autocapitalize="off"
                             autocomplete="email"
                             placeholder="{{ 'newsletter.label' | t }}"
                             required
                             >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                    </div>
                    {%- if form.errors -%}
                    <small class="newsletter-form__message form__message alert alert-danger" id="ContactFooter-error">{% include 'icons' with 'error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                  </div>
                  <button type="submit" class="button button--primary newsletter__button newsletter-form__button" name="commit" id="Subscribe">
                    <span class="hidden-sm-down">{{ 'newsletter.button_label' | t }}</span>
                    <span class="hidden-sm-up">{{ 'newsletter.small_button_label' | t }}</span>
                    
                  </button>
                  {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message alert alert-success" id="ContactFooter-success" tabindex="-1" autofocus>{% include 'icons' with 'success' %} {{ 'newsletter.success' | t }}</h3>
                  {%- endif -%}
                  {%- endform -%}
              {% if section.settings.show_social %}
              	{% include 'social-follow' %}
              {% endif %}
              <div class="dont-show">
                <label>
                  <input class="dono-show-check" type="checkbox"> 
                  <span>{{ 'newsletter_popup.dont_show' | t }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ishimodal-dialog>
  <ishimodal-opener class="product-popup-modal__opener no-js-hidden hidden" data-modal="#PopupModal-newsletter">
    <button id="PopupModal-newsletter-btn" class="ishi-popup-modal__button link" type="button" aria-haspopup="dialog" data-href="#PopupModal-newsletter" data-toggle="popover" aria-expanded="false"></button>
  </ishimodal-opener>
  <script type="text/javascript">
    $(document).ready(function () {
      var newsletterTimeout = $('.newsletter-popup-modal__content').data('timeout');
      if(getTheCookie("customer_posted") != "true") {
        setTimeout(function(){ document.querySelector("#PopupModal-newsletter-btn").click(); }, newsletterTimeout*1000);
      }
      const urlParams = new URLSearchParams(window.location.search);
      if(urlParams.get('customer_posted') == "true" || urlParams.get('form_type') == "customer" ){
        setTheCookie("customer_posted", "true", 14);
      }
    });
  </script>
{% endif %}

<style type="text/css">
  .newsletter-popup .popup-bg-color{
    background-color: {{ section.settings.bgcolor }};
  }
  .newsletter-popup .modal-content .popup-text,
  .newsletter-popup .modal-content .product-popup-modal__toggle .icon,
  .newsletter-popup .modal-content .product-popup-modal__content-info .popup-text .popup-title
  {
  	color: {{ section.settings.textcolor }};
  }
  
  @media (max-width: 767px) {/* If media is below 768 */
    .newsletter-popup .modal-content.popup-bg-image{
    	background-image: none !important;
    }
  }
</style>

{% schema %}
  {
    "name": "Newsletter Popup",
    "class": "newsletter-popup",
    "settings": [
	  {
        "type": "checkbox",
        "id": "enable",
        "label": "Enabled?",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "show_onall_page",
        "label": "Show on all pages?",
        "default": false
      },
	  {
        "type": "range",
        "id": "newsletter_time",
        "label": "Set Timeout",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 5
      },
	  {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Left/Right Image Size: 500px X 500px, Cover Image Size: 750px X 500px"
      },
	  {
        "type": "color",
        "id": "bgcolor",
        "label": "Background Color",
        "default": "#f2f2f2"
      },
	  {
        "type": "color",
        "id": "textcolor",
        "label": "Text Color",
        "default": "#000000"
      },
	  {
        "type": "select",
        "id": "image_position",
        "label": "Image Position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
		  {
            "value": "cover",
            "label": "Cover"
          }
        ]
      },
	  {
        "type": "select",
        "id": "text_position",
        "label": "Text Position",
		"info": "Applies only when the Image Position option is set cover",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
		  {
            "value": "center",
            "label": "Center"
          }
        ]
      },
	  {
        "type": "text",
        "id": "maintitle",
        "label": "Main Title",
        "default": "SUBSCRIBE AND GET DISCOUNT!"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title",
        "default": "Subscribe to the newsletter to receive updates about new products."
      },
	  {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show Social Icons",
        "default": true
      }
    ]
  }
{% endschema %}